<div class="credits-container">
  <h5 class="credits-title">3D ASSETS</h5>
  <div class="credits-content">
    <div class="credit-item">
      <a href="https://www.fab.com/listings/477a2fb3-11fb-4088-a92f-d533b6c93f09" target="_blank">"The Batcave"</a> by CinekR9 (CC BY 4.0)
    </div>
    <div class="credit-item">
      <a href="https://skfb.ly/o9zOY" target="_blank">"Batmobil car"</a> by mohamedhussien (CC BY 4.0)
    </div>
    <div class="credit-item">
      <a href="https://skfb.ly/oIWpZ" target="_blank">"3D Batwing"</a> by Ai 3D Designs (CC BY 4.0)
    </div>
    <div class="credit-item">
      <a href="https://skfb.ly/orFQP" target="_blank">"Batbike"</a> by Shaz (CC BY 4.0)
    </div>
  </div>
</div>
